 .tabTemplateWrap {
     display: block;
     height: 100%;
     width: 100%;
     background: #ffffff;
     padding: 30px 20px;
     border: 1px solid #dee2e6;
     border-top: none;
     border-radius: 0 0 0.375rem 0.375rem;
 }