 .headerMenu {
     line-height: 1.4;
 }

 .link {
     color: white;
 }

 .toggleButton {
     color: white;
     background-color: white;
     font-size: 13px;
     margin: 5px 0px;
     overflow: hidden;
 }